.btn-blue {
  color: #FFFFFF;
  border: 1px solid #696969;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 1 ;
  transition: opacity 0.5s ease;
  background: #696969
}

.btn-blue:hover {
  opacity: 3;
}